/*Resert -------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

li {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Header -------------------------------------*/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .topo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    font-size: 1.8rem;
    background: #a3e7f8;
}

header .topo .logo img {
    width: 48px;
}

header .topo input {
    text-align: center;
    width: 60%;
    border: none;
    border-radius: 5px;
} 

header .topo .menu {
    color: #FFF;
}

header .topo nav {
    width: 100%;
    text-align: center;
    background: #61d8f6;;
    border-radius: 0 0 10px 10px;

    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0;
}

header .topo nav:target {
    top: 74px;
    visibility: visible;
    z-index: 1;
    transition: 0.5s all;
}

header .topo nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header .topo nav ul i {

}

header .topo nav ul li a {
    font-size: 1.3rem;
    color: #FFF;
    padding: 5px;
    margin: 5px;
}

header .topo .user {
    color: #FFF;
}

header .topo .cart {
    color: #FFF;
}

/*Produto -----------------------------------------*/
.produto {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto .titulo-avaliacao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.produto .titulo-avaliacao .titulo {
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 10px;
}

.produto .titulo-avaliacao .avaliacao {
    margin-right: 15px;
    font-size: 0.8rem;
}

.produto .titulo-avaliacao .avaliacao


.produto .pictures {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto .pictures .show div {
    text-align: center;
    width: 100%;
    display: none;
    margin: 10px auto;
}

.produto .pictures .show div:target {
    display: block;
}

.produto .pictures .show div img {
    width: 90%;
    max-width: 400px;
}

.produto .pictures nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
    padding: 5px;

    border: 1px solid #CCC;
    border-radius: 10px;
}

.produto .pictures nav a {
}

.produto .pictures nav a img {
    opacity: 0.7;
    width: 50%;
}

.produto .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto .content .preco-tipo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produto .content .preco-tipo h1 {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 300;
}

.produto .content .preco-tipo select {
    width: 100%;
    max-width: 200px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.produto .content .descricao p {
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: 300;
}

.produto .add-car {
    text-align: center;
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    color: #FFF;
    background: #a3e7f8;
    border-radius: 5px;

    font-size: 1.1rem;
    font-weight: 300;
}

/*Produtos Similares ------------------------------*/
.similares {
    background: #e5f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.similares h1 {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px;
}

.similares .produtos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.similares .produtos .produto {
    width: 100%;
    max-width: 160px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
}

.similares .produtos .produto img {
    grid-column: 1;
    grid-row: span 3;
    width: 100%;
}

.similares .produtos .produto .nome-produto {
    font-size: 0.8rem;
}

/*Avaliações --------------------------------------*/
.avaliacoes {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.avaliacoes h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

.avaliacoes .content {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.avaliacoes hr {
    width: 70%;
    border: 1px solid #CCC;
}

.avaliacoes .content .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
}

.avaliacoes .content .user-info img {
    width: 100%;
    min-width: 70px;
    max-width: 100px;
}

.avaliacoes .content .user-info img {
    width: 100%;
    min-width: 70px;
}

.avaliacoes .content .user-info h1 {
    font-size: 0.8rem;
    width: 100%;
    font-weight: 700;
}

.avaliacoes .content .user-info p {
    width: 100%;
}

.avaliacoes .content .comentario {
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 300;
}

/*Footer ------------------------------------------*/
footer {
    background: #262626;
    color: #FFF;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 0.9rem;
}

footer p a {
    color: #9733EE;
}

/*Media querys -------------------------------------*/
@media (min-width: 700px) {
    .produto {
        max-width: 900px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 1fr 1fr minmax(400px, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "pictures pictures titulo"
            "pictures pictures content";
    }
    
    .produto .titulo-avaliacao {
        grid-area: titulo;
        align-self: end;
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    
    .produto .titulo-avaliacao .titulo {
        font-size: 2.5rem;
    }
    
    .produto .titulo-avaliacao .avaliacao {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }
    
    .produto .titulo-avaliacao .avaliacao i {
        font-size: 1rem;
    }

    .produto .titulo-avaliacao .avaliacao p {
        font-size: 1rem;
        margin-left: 10px;
    }
    
    
    .produto .pictures {
        grid-area: pictures;
        align-self: end;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .produto .pictures nav {
        max-width: 400px;
    }
    
    .produto .pictures nav a {
    }
    
    .produto .content {
        grid-area: content;
    }
    
    .produto .content .preco-tipo h1 {
        margin: 10px;
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    .produto .content .preco-tipo select {
        max-width: 170px;
    }

    /*Produtos Similares ------------------------------*/

    .similares .container {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .similares h1 {
        font-size: 2.5rem;
    }

    .similares .produtos {
        width: 100%;
        justify-content: space-around;
    }

    .similares .produtos .produto {
        max-width: 250px;
    }

    .similares .produtos .produto .nome-produto {
        font-size: 1.1rem;
    }

    .similares .produtos .produto .avaliacao {
        grid-column: 2;
        grid-row: 2;
        align-self: start;
    }

    .similares .produtos .produto .preco {
        grid-row: 2;
        grid-column: 2;
    }

    /*Avaliações ---------------------------------*/

    .avaliacoes h1 {
        font-size: 2.5rem;
    }
    
    .avaliacoes hr {
        width: 70%;
        border: 1px solid #CCC;
    }
    
    .avaliacoes .content .user-info {
        max-width: 150px;
    }
    
    .avaliacoes .content .user-info h1 {
        font-size: 1.1rem;
    }
    
    .avaliacoes .content .comentario {
        font-size: 1rem;
    }
}

@media (min-width: 1000px) {
    header .topo input {
        width: 40%;


        text-align: center;
        border: none;
        border-radius: 5px;
    } 

    header .topo .menu {
        display: none;
    }
    
    header .topo nav {
        visibility: visible;
        width: 20%;
        position: static;
    }
    
    header .topo nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    header .user::after {
        content: "Entrar";
        font-size: 1.1rem;
        margin-left: 5px;
    }

    header .cart::after {
        content: "Carrinho";
        font-size: 1.1rem;
        margin-left: 5px;
    }
}